{% extends 'base.html' %}
{% load static %}}
{% block content %}
<body style="background-image: linear-gradient(to right, #11998e , #38ef7d); font-family: 'Roboto', sans-serif;">

	<div class = row style="padding-top: 10vh;">

        <div class = "col s12 m12 l4 center-align white z-depth-5 offset-l4" style="border-radius: 5px; padding-top: 10vh; padding-bottom: 10vh;">
        	Thanks for confirming your account. You can now freely access your account.
        	<a class="waves-effect waves-light btn-large center-align" href="/accounts/login" style="background-color: #20BB87; width: 85%; border-radius: 40px; font-weight: 900; font-size: 20px; margin-top: 50px; margin-bottom: 50px;">Login</a>
        	<a class="waves-effect waves-light btn-large center-align" href="/" style="background-color: #20BB87; width: 85%; border-radius: 40px; font-weight: 900; font-size: 20px;">Go Home</a>
        </div>
    </div>
</body>
{% endblock %}