{% extends 'base.html' %}
{% load static %}}
{% block content %}
<body style="background-image: linear-gradient(to right, #11998e , #38ef7d); font-family: 'Roboto', sans-serif;">

	<div class = row style="padding-top: 10vh;">

        <div class = "col s12 m12 l4 center-align white z-depth-5 offset-l4" style="border-radius: 5px; padding-top: 10vh; padding-bottom: 10vh;">
        	Thank you for registering for our app! However... before you can being, you will need to confirm your registration. <br>
        	Please look through your inbox at <b>{{email}}</b> and confirm your registration through there. Be sure to look into junk folder.
        </div>
    </div>
</body>
{% endblock %}