{% extends 'base_db.html' %}
{% load static %}
{% block content %}

  <div id="main" class="container" style="padding-left: 5px;">

    <div class="card">
      <div class="card-content teal accent-4">
        <div class="row">
          <div class="col s12 left-align">
            <span class="card-title white-text" style="font-size: 40px; font-weight: bold; padding-top: 20px;"><i class="material-icons white-text" style="font-size: 100px;">edit</i>New Transaction</span>
          </div>

        </div>
      </div>

      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#test4" style="font-size: 20px; font-weight: 700; color: #11998E"> Expense </a></li>
          <li class="tab"><a href="#test6" style="font-size: 20px; font-weight: 700; color: #11998E"> Income </a></li>
        </ul>
      </div>
      
      <div class="card-content grey lighten-4">
        <form method="POST" action="/transactions/">
          {% csrf_token %}
          <input type="hidden" name="curr_path" value="transactions">
          <div id="test4" class="row">
            <div class="input-field col s2" style="padding-top: 10px;">
              <input type="number" name="money_expense" step="0.01" placeholder="" min="0" class="validate left-align dark-green-text text-accent-3" style="font-size: 16px;">
              <label for="money" style="font-size: 20px;"> Money<i class="material-icons tiny tooltipped" data-position="bottom" data-tooltip="Up to two decimal places" style="padding-left: 5px; font-size: 20px;">help</i></label>
            </div>
            <div class="input-field col s1" style="padding-top: 10px;">
              <input type="text" id="time" name="time" placeholder="HH:MM" class="validate left-align dark-green-text text-accent-3" style="font-size: 16px;">
              <label for="time" style="font-size: 20px;">Time</label>
            </div>
            <div class= "col s3">
              <label for="date" style="font-size: 16px;"> Date </label>
              <input type="text" name="date_expense" class="datepicker left-align dark-green-text text-accent-3" style="font-size: 16px;">
            </div>

            <div class="input-field col s6" style="padding-top: 10px;">
              <select name="expense_type">
                
                <option value="" disabled selected> Choose Category </option>
                <option value="1"> Food/Drink</option>
                <option value="2"> Bills </option>
                <option value="3"> Electronics </option>
                <option value="4"> Entertainment </option>
                <option value="5"> Travel </option>
                <option value="6"> Debt </option>
                <option value="7"> Clothing </option>
                <option value="8"> Health </option>
                <option value="9"> Automobile</option>
                <option value="10"> Pets </option>
                <option value="11"> Other/Expenses </option>
              </select>
              <label style="font-size: 16px;"> Category </label>
            </div>

            <div class= "col s3">
              <label for="from" style="font-size: 16px;"> From <i class="material-icons tiny tooltipped" data-position="bottom" data-tooltip="How long your recurring transaction should last" style="padding-left: 5px;">help</i></label>
              <input type="text" class="datepicker left-align dark-green-text text-accent-3" style="font-size: 16px;">
            </div>

            <div class= "col s3">
              <label for="to" style="font-size: 16px;"> To </label>
              <input type="text" class="datepicker left-align dark-green-text text-accent-3" style="font-size: 16px;">
            </div>

            <div class="input-field col s6" style="padding-top: 10px;">
              <select>
                <option value="" disabled selected> Choose options </option>
                <option value="1"> N/A</option>
                <option value="2"> Every day </option>
                <option value="3"> Every week </option>
                <option value="4"> Every month </option>
              </select>
              <label style="font-size: 16px;"> Repeat </label>
            </div>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" name="comment_expense" placeholder="Comment" class="materialize-textarea"></textarea>
                  </div>
                </div>
              </form>
            </div>

            <button href="/transactions" class="waves-effect waves-light btn-large offset-s9" type="submit" style=" width:40%; border-radius: 5px; font-size: 20px; background-color: #38ef7d; font-family: 'Roboto', sans-serif !important; font-weight: 900; border-radius: 40px;"> Reset </button>

            <button class="waves-effect waves-light btn-large offset-s9" type="submit" formmethod="post" style=" width:40%; border-radius: 5px; font-size: 20px; background-color: #11998e; font-family: 'Roboto', sans-serif !important; font-weight: 900; border-radius: 40px; float: right"> Save </button>
          </div>
          <div id="test6" class="row">
            <div class="input-field col s2" style="padding-top: 10px;">
              <input type="text" id="money" name="money_income" step="0.01" placeholder="" min="0" class="validate left-align dark-green-text text-accent-3" style="font-size: 16px;">
              <label for="money" style="font-size: 20px;"> Money<i class="material-icons tiny tooltipped" data-position="bottom" data-tooltip="Can specific to two decimal places" style="padding-left: 5px; font-size: 20px;">help</i></label>
            </div>

            <div class="input-field col s1" style="padding-top: 10px;">
              <input type="text" id="time" name="time" placeholder="HH:MM" class="validate left-align dark-green-text text-accent-3" style="font-size: 16px;">
              <label for="time" style="font-size: 20px;">Time</label>
            </div>

            <div class= "col s3">
              <label for="date" style="font-size: 16px;"> Date </label>
              <input type="text" name="date_income" class="datepicker left-align dark-green-text text-accent-3" style="font-size: 16px;">
            </div>

            <div class="input-field col s6" style="padding-top: 10px;">
              <select name="income_type">
                <option value="" disabled selected> Choose Category </option>
                <option value="1"> Salary</option>
                <option value="2"> Investments</option>
                <option value="3"> Other/Income</option>
              </select>
              <label style="font-size: 16px;"> Category </label>
            </div>

            <div class= "col s3">
              <label for="from" style="font-size: 16px;"> From <i class="material-icons tiny tooltipped" data-position="bottom" data-tooltip="Duration of this income" style="padding-left: 5px;">help</i></label>
              <input type="text" class="datepicker left-align dark-green-text text-accent-3" style="font-size: 16px;">
            </div>

            <div class= "col s3">
              <label for="to" style="font-size: 16px;"> To </label>
              <input type="text" class="datepicker left-align dark-green-text text-accent-3" style="font-size: 16px;">
            </div>

            <div class="input-field col s6" style="padding-top: 10px;">
              <select>
                <option value="" disabled selected> Choose options </option>
                <option value="1"> N/A</option>
                <option value="2"> Every day </option>
                <option value="3"> Every week </option>
                <option value="4"> Every month </option>
              </select>
              <label style="font-size: 16px;"> Repeat </label>
            </div>


            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" placeholder="Comment" class="materialize-textarea"></textarea>
                  </div>
                </div>
              </form>
            </div>

            <button href="/transactions" class="waves-effect waves-light btn-large offset-s9" type="submit" style="width:40%; border-radius: 5px; font-size: 20px; background-color: #38ef7d; font-family: 'Roboto', sans-serif !important; font-weight: 900; border-radius: 40px;"> Reset </button>

            <button class="waves-effect waves-light btn-large offset-s9" type="submit" formmethod="post" style=" width:40%; border-radius: 5px; font-size: 20px; background-color: #11998e; font-family: 'Roboto', sans-serif !important; font-weight: 900; border-radius: 40px; float: right">Save </button>
          </div>
        </form>
      </div>
      
    </div>
  </div> 

	<!-- JS files provided by Materialize -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'javascript/materialize.js' %}"></script>
    <script src="{% static 'javascript/init.js' %}"></script>
    <!-- For some reason above init.js doesn't load some things for me -->
    <script> M.AutoInit(); </script>

    <!-- JS files for charts from chartjs.org -->
    <script src="{% static 'javascript/Chart.bundle.js' %}"></script>
    <script src="{% static 'javascript/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/mycharts.js' %}"></script>

    <script src="{% static 'javascript/odometer.min.js' %}"></script>
    <script>
    	{{odometer|safe}}
    </script>
    <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<style>
    #main {

        margin-left: 450px;
    }

    #txt {
        font-size: 62px;
    }

    #daily_spend {
        font-size: 62px;
    }

    #monthly_spend {
        font-size: 62px;
    }

    #TODOREPLACE {
        font-size: 62px;
    }
    @media only screen and (max-width: 1600px) {
        #main {
            margin-left: 375px;
        }

        #txt {
            font-size: 42px;
        }

        #daily_spend {
            font-size: 42px;
        }

        #monthly_spend {
            font-size: 42px;
        }

        #TODOREPLACE {
            font-size: 42px;
        }
    }

    @media only screen and (max-width: 1400px) {
        #main {
            margin-left: 350px;
        }

        #txt {
            font-size: 36px;
        }

        #daily_spend {
            font-size: 36px;
        }

        #monthly_spend {
            font-size: 36px;
        }

        #TODOREPLACE {
            font-size: 36px;
        }
    }

    @media only screen and (max-width: 1200px) {
        #main {
            margin-left: 300px;
        }

        #txt {
            font-size: 32px;
        }

        #daily_spend {
            font-size: 32px;
        }

        #monthly_spend {
            font-size: 32px;
        }

        #TODOREPLACE {
            font-size: 32px;
        }
    }

    @media only screen and (max-width: 1000px) {
        #main {
            margin-left: 10%;
        }

        #txt {
            font-size: 24px;
        }

        #daily_spend {
            font-size: 24px;
        }

        #monthly_spend {
            font-size: 24px;
        }

        #TODOREPLACE {
            font-size: 24px;
        }
    }

    @media only screen and (max-width: 700px) {
        #main {
            margin-left: 5%;
        }

        #txt {
            font-size: 18px;
        }

        #daily_spend {
            font-size: 18px;
        }

        #monthly_spend {
            font-size: 18px;
        }

        #TODOREPLACE {
            font-size: 18px;
        }
    }
</style>

{% endblock %}